:root {
    --fill_color: var(--sapField_Background, #fff);
    --font_color: var(--sapField_TextColor, #303030);
    --stroke_color: var(--sapField_TextColor, #303030);
    --font: "72", "72full", Arial, Helvetica, sans-serif;
    --badgePositive: var(--sapPositiveColor, #26a264);
    --badgeNegative: var(--sapNegativeTextColor, #e01b24);
}

#bpmn-container {
    box-sizing: border-box;
    position: absolute;
    height: calc(100% - var(--fdToolbar_Height, 2.75rem));
    top: var(--fdToolbar_Height, 2.75rem);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.highlight>rect {
    stroke: var(--sapHighlightColor, #fecc04) !important;
}

.overlay-badge {
    font-weight: bold;
    text-shadow: -1px -1px 0 #0000001A, 1px -1px 0 #0000001A, -1px 1px 0 #0000001A, 1px 1px 0 #0000001A;
}

.overlay-badge rect {
    stroke-width: 0.5rem;
    rx: 0.25rem;
}